In [210]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time
# from selenium.common.exceptions import *
import csv
import pandas as pd
# from urllib.parse import urljoin
PATH="C:\Program Files (x86)"
# chrome_options = webdriver.ChromeOptions()
# chrome_options.add_argument('--blink-settings=imagesEnabled=false')
# driver = webdriver.Chrome(chrome_options=chrome_options)
home_url = 'https://divar.ir'
url_file = 'AdsUrl.txt'

In [211]:
df =pd.read_csv('cardata.csv')

In [212]:
df

,کارکرد,مدل (سال تولید),رنگ,برند و تیپ,نوع سوخت,وضعیت موتور,وضعیت شاسی‌ها,وضعیت بدنه,مهلت بیمهٔ شخص ثالث,گیربکس,قیمت پایه,شاسی جلو,شاسی عقب,نمایشگاه,نوع آگهی,مایل به معاوضه,حداقل مبلغ پیش‌پرداخت,مبلغ هر قسط,تعداد اقساط,فروشنده
0,۳۰۰٬۰۰۰,۱۳۸۳,نقره‌ای,پژو 206 تیپ ۲,بنزینی,سالم,سالم و پلمپ,رنگ‌شدگی,۹ ماه,دنده‌ای,۱۸۶٬۰۰۰٬۰۰۰ تومان,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,۴۶٬۰۰۰,۱۴۰۰,سفید,پژو 206 تیپ ۲,بنزینی,سالم,NaN,صافکاری بی‌رنگ,۱ ماه,دنده‌ای,۳۸۵٬۰۰۰٬۰۰۰ تومان,ضربه‌خورده,سالم و پلمپ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,۱۸٬۶۰۰,۱۳۹۹,سفید,پژو 206 تیپ ۲,بنزینی,سالم,سالم و پلمپ,سالم و بی‌خط و خش,۱۱ ماه,دنده‌ای,۴۳۲٬۰۰۰٬۰۰۰ تومان,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,۲۵۱٬۰۰۰,۱۳۸۸,سفید,پژو 206 تیپ ۲,بنزینی,سالم,سالم و پلمپ,خط و خش جزیی,۹ ماه,دنده‌ای,۲۶۸٬۰۰۰٬۰۰۰ تومان,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,۲۰۰٬۰۰۰,۱۳۹۰,سفید,پژو 206 تیپ ۲,بنزینی,سالم,سالم و پلمپ,رنگ‌شدگی، در ۲ ناحیه,۱۰ ماه,دنده‌ای,۲۹۰٬۰۰۰٬۰۰۰ تومان,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1902,۴۰٬۰۰۰,۱۴۰۰,سفید,پژو 206 تیپ ۲,بنزینی,سالم,سالم و پلمپ,خط و خش جزیی,۶ ماه,دنده‌ای,۴۲۵٬۰۰۰٬۰۰۰ تومان,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1903,۰,۱۴۰۱,سفید,پژو 206 تیپ ۲,بنزینی,سالم,سالم و پلمپ,سالم و بی‌خط و خش,۱۲ ماه,دنده‌ای,۴۹۰٬۰۰۰٬۰۰۰ تومان,NaN,NaN,مهراد خودرو,فروشی,NaN,NaN,NaN,NaN,NaN
1904,۱۲۰٬۰۰۰,۱۳۹۱,سفید,پژو 206 تیپ ۲,بنزینی,سالم,سالم و پلمپ,رنگ‌شدگی,۸ ماه,دنده‌ای,۲۸۰٬۰۰۰٬۰۰۰ تومان,NaN,NaN,NaN,فروشی,NaN,NaN,NaN,NaN,NaN
1905,۹۷٬۰۰۰,۱۳۹۶,سفید,پژو 206 تیپ ۲,بنزینی,سالم,NaN,رنگ‌شدگی، در ۲ ناحیه,NaN,NaN,۳۳۰٬۰۰۰٬۰۰۰ تومان,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1906,۰,۱۴۰۱,سفید,پژو 206 تیپ ۲,بنزینی,NaN,NaN,سالم و بی‌خط و خش,NaN,NaN,توافقی,NaN,NaN,شرکت اتحاد خودرو خاورمیانه,NaN,NaN,NaN,NaN,NaN,NaN

In [213]:
drop_columns = ['برند و تیپ', 'گیربکس', 'نوع سوخت', 'فروشنده', 'نوع آگهی','مبلغ هر قسط','تعداد اقساط']

In [214]:
df.dropna(how='all',axis=0,inplace=True)

In [215]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1695 entries, 0 to 1906
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   کارکرد                 1695 non-null   object
 1   مدل (سال تولید)        1695 non-null   object
 2   رنگ                    1695 non-null   object
 3   برند و تیپ             1695 non-null   object
 4   نوع سوخت               1691 non-null   object
 5   وضعیت موتور            1655 non-null   object
 6   وضعیت شاسی‌ها          1561 non-null   object
 7   وضعیت بدنه             1694 non-null   object
 8   مهلت بیمهٔ شخص ثالث    1591 non-null   object
 9   گیربکس                 1605 non-null   object
 10  قیمت پایه              1695 non-null   object
 11  شاسی جلو               80 non-null     object
 12  شاسی عقب               77 non-null     object
 13  نمایشگاه               126 non-null    object
 14  نوع آگهی               469 non-null    object
 15  مایل به معاوضه         323 non-null    object
 16  حداقل مبلغ پیش‌پرداخت  41 non-null     object
 17  مبلغ هر قسط            41 non-null     object
 18  تعداد اقساط            41 non-null     object
 19  فروشنده                7 non-null      object
dtypes: object(20)
memory usage: 278.1+ KB

In [216]:
df['شاسی عقب'].value_counts()

شاسی عقب
سالم و پلمپ    52
ضربه‌خورده     23
رنگ‌شده         2
Name: count, dtype: int64

In [217]:
df['شاسی عقب']=df['شاسی عقب'].fillna('سالم و پلمپ')

In [218]:
df['نوع سوخت'].value_counts()

نوع سوخت
بنزینی    1691
Name: count, dtype: int64

In [219]:
df['نوع سوخت'] = df['نوع سوخت'].fillna('بنزینی')

In [220]:
df['وضعیت موتور'].value_counts()

وضعیت موتور
سالم             1634
تعویض شده          13
نیاز به تعمیر       8
Name: count, dtype: int64

In [221]:
df['وضعیت موتور'] = df['وضعیت موتور'].fillna('سالم')

In [222]:
df['وضعیت شاسی‌ها'].value_counts()

وضعیت شاسی‌ها
سالم و پلمپ    1550
ضربه‌خورده       10
رنگ‌شده           1
Name: count, dtype: int64

In [223]:
df['وضعیت شاسی‌ها'] = df['وضعیت شاسی‌ها'].fillna('سالم و پلمپ')

In [224]:
df['وضعیت بدنه'].value_counts()

وضعیت بدنه
سالم و بی‌خط و خش       677
خط و خش جزیی            374
رنگ‌شدگی                351
دوررنگ                  166
تمام‌رنگ                 44
صافکاری بی‌رنگ           40
رنگ‌شدگی، در ۲ ناحیه     21
تصادفی                   11
رنگ‌شدگی، در ۱ ناحیه     10
Name: count, dtype: int64

In [225]:
df['وضعیت بدنه'] = df['وضعیت بدنه'].fillna('سالم و بی‌خط و خش')

In [226]:
df['شاسی جلو'].value_counts()

شاسی جلو
ضربه‌خورده     50
سالم و پلمپ    24
رنگ‌شده         6
Name: count, dtype: int64

In [227]:
df['شاسی جلو'] = df['شاسی جلو'].fillna('سالم و پلمپ')

In [228]:
df['نمایشگاه'].value_counts()

نمایشگاه
اتو خطیب          6
مهراد خودرو       5
دینو خودرو        5
سایپا جلالی       4
کیان خودرو        3
                 ..
اتو آپادانا       1
اتوگالری محمدی    1
اتو شناس 2        1
کیان سام خودرو    1
اتو علایی         1
Name: count, Length: 79, dtype: int64

In [229]:
df['نمایشگاه'] = df['نمایشگاه'].fillna('شخصی')

In [230]:
df['مایل به معاوضه'].value_counts()

مایل به معاوضه
هستم    323
Name: count, dtype: int64

In [231]:
df['مایل به معاوضه'] = df['مایل به معاوضه'].fillna('نیستم')

In [232]:
df['حداقل مبلغ پیش‌پرداخت'].value_counts()

حداقل مبلغ پیش‌پرداخت
۲۰۰٬۰۰۰٬۰۰۰ تومان    7
۳۰۰٬۰۰۰٬۰۰۰ تومان    6
۲۵۰٬۰۰۰٬۰۰۰ تومان    3
۱۱۱٬۱۱۱ تومان        3
۱٬۱۱۱٬۱۱۱ تومان      2
۲۳۰٬۰۰۰٬۰۰۰ تومان    2
۱۰۰٬۰۰۰٬۰۰۰ تومان    1
۳۲۵٬۰۰۰٬۰۰۰ تومان    1
۲۷۰٬۰۰۰٬۰۰۰ تومان    1
۲۴۰٬۰۰۰٬۰۰۰ تومان    1
۲۱۵٬۰۰۰٬۰۰۰ تومان    1
۳۰۰٬۰۰۰ تومان        1
۱۸۰٬۰۰۰٬۰۰۰ تومان    1
۲۳۵٬۰۰۰٬۰۰۰ تومان    1
۲۲۵٬۰۰۰٬۰۰۰ تومان    1
۲۲۰٬۰۰۰٬۰۰۰ تومان    1
۱۴۰٬۰۰۰٬۰۰۰ تومان    1
۳۱۰٬۰۰۰٬۰۰۰ تومان    1
۲۸۰٬۰۰۰٬۰۰۰ تومان    1
۱۱٬۱۱۱٬۱۱۱ تومان     1
۵٬۵۵۵٬۵۵۵ تومان      1
۲۵٬۰۰۰٬۰۰۰ تومان     1
۱۷۰٬۰۰۰٬۰۰۰ تومان    1
۳۲۹٬۰۰۰٬۰۰۰ تومان    1
Name: count, dtype: int64

In [233]:
df['حداقل مبلغ پیش‌پرداخت'] = df['حداقل مبلغ پیش‌پرداخت'].fillna(0)

In [234]:
df.drop(df.loc[df['حداقل مبلغ پیش‌پرداخت']!=0].index, inplace=True)

In [235]:
df.drop(df.loc[df['برند و تیپ']!='پژو 206 تیپ ۲'].index, inplace=True)

In [236]:
df_test=df

In [237]:
df['نمایشگاه'].value_counts()

نمایشگاه
شخصی                                             1568
مهراد خودرو                                         5
اتو خطیب                                            5
سایپا جلالی                                         4
اتوگالری میرزایی                                    3
اتو وکیلی                                           3
خزرخودرو خاورمیانه                                  3
ارژنگ خودرو پارسیان                                 3
شایان خودرواذرخش                                    2
شرکت اتحاد خودرو خاورمیانه                          2
خودرو کار                                           2
اتو آسان                                            2
سورن خودرو                                          2
اتومبیل محمدزاده                                    2
کیان خودرو                                          2
خودرو فیدار سپنتا                                   2
اتو کاظمی                                           1
رایان پارس                                          1
اتوگالری فریدنیا                                    1
اتو آدرین                                           1
اتو فرود (شعبه دولت)                                1
رایان خودرو                                         1
جاوید خودرو                                         1
اتو توکلی                                           1
اتو سلیمانی                                         1
اتو شیرون                                           1
گروه خودرویی فراز                                   1
اتو پلاس                                            1
اتوگالری دیوارگر                                    1
آذر خودرو (آذرخش)                                   1
اتو مجید                                            1
امین خودرو                                          1
عماد خودرو                                          1
پدیده خودرو تیراژه                                  1
کیان سام خودرو                                      1
آرمان خودرو                                         1
کیا موتورز توکلی                                    1
پیشتازان شهرزاد خودرو پیشگامان                      1
اتو تکتاز                                           1
جم خودرو                                            1
آرتیما خودرو                                        1
اتو گالری کارن                                      1
اتوگالری حیدر                                       1
نمایندگی کد 246 مدیران خودرو MVM دانشگاه شریف       1
پیوند خودرو                                         1
ماژین موتور                                         1
آتیلا سیر خودرو                                     1
اتو پارسیان                                         1
اتوگالری مسلم                                       1
اتو گالری مهرآباد                                   1
اتوگالری فرشید                                      1
سام ایران خودرو                                     1
هونام خودرو ایرانیان                                1
بتا موتورز                                          1
اداک خودرو مهر                                      1
اتو علایی                                           1
Name: count, dtype: int64

In [238]:
df.loc[df['نمایشگاه']!='شخصی','نمایشگاه']='نمایشگاهی'

In [239]:
df['قیمت پایه'].value_counts()

قیمت پایه
۲۱۰٬۰۰۰٬۰۰۰ تومان      36
۲۳۰٬۰۰۰٬۰۰۰ تومان      33
۴۱۰٬۰۰۰٬۰۰۰ تومان      32
۲۸۰٬۰۰۰٬۰۰۰ تومان      28
۲۲۰٬۰۰۰٬۰۰۰ تومان      27
                       ..
۴۲۲٬۰۰۰٬۰۰۰ تومان       1
۴٬۱۵۰٬۰۰۰٬۰۰۰ تومان     1
۲۶۷٬۰۰۰٬۰۰۰ تومان       1
۶۷٬۰۰۰٬۰۰۰ تومان        1
۴۷۹٬۰۰۰٬۰۰۰ تومان       1
Name: count, Length: 281, dtype: int64

In [240]:
df.drop(df.loc[df['قیمت پایه']=='توافقی'].index, inplace=True)

In [241]:
import numpy as np

In [242]:
df['کارکرد']=df['کارکرد'].str.replace('٬', '').astype(np.int64)

In [243]:
df['مدل (سال تولید)']=df['مدل (سال تولید)'].astype(np.int64)

In [244]:
df['قیمت پایه']=df['قیمت پایه'].str.replace('تومان', '')
df['قیمت پایه']=df['قیمت پایه'].str.replace('٬', '')

In [245]:
df['قیمت پایه']=df['قیمت پایه'].astype(np.int64)

In [246]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1643 entries, 0 to 1905
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   کارکرد                 1643 non-null   int64
 1   مدل (سال تولید)        1643 non-null   int64
 2   رنگ                    1643 non-null   object
 3   برند و تیپ             1643 non-null   object
 4   نوع سوخت               1643 non-null   object
 5   وضعیت موتور            1643 non-null   object
 6   وضعیت شاسی‌ها          1643 non-null   object
 7   وضعیت بدنه             1643 non-null   object
 8   مهلت بیمهٔ شخص ثالث    1551 non-null   object
 9   گیربکس                 1566 non-null   object
 10  قیمت پایه              1643 non-null   int64
 11  شاسی جلو               1643 non-null   object
 12  شاسی عقب               1643 non-null   object
 13  نمایشگاه               1643 non-null   object
 14  نوع آگهی               452 non-null    object
 15  مایل به معاوضه         1643 non-null   object
 16  حداقل مبلغ پیش‌پرداخت  1643 non-null   object
 17  مبلغ هر قسط            0 non-null      object
 18  تعداد اقساط            0 non-null      object
 19  فروشنده                7 non-null      object
dtypes: int64(3), object(17)
memory usage: 269.6+ KB

In [247]:
df.drop(drop_columns,inplace=True,axis=1)

In [248]:
df.drop('حداقل مبلغ پیش‌پرداخت',inplace=True,axis=1)

In [249]:
df['مهلت بیمهٔ شخص ثالث']=df['مهلت بیمهٔ شخص ثالث'].fillna('0')

In [250]:
df['مهلت بیمهٔ شخص ثالث'].value_counts()

مهلت بیمهٔ شخص ثالث
۶ ماه     247
۱۲ ماه    181
۸ ماه     161
۹ ماه     135
۱۰ ماه    122
۷ ماه     121
۵ ماه     113
۱۱ ماه    110
۳ ماه     109
۴ ماه     103
0          92
۲ ماه      77
۱ ماه      72
Name: count, dtype: int64

In [367]:
df_test['مهلت بیمهٔ شخص ثالث']=df_test['مهلت بیمهٔ شخص ثالث'].str.replace('ماه', '').astype(int)

In [355]:
df_test=pd.read_csv('newcar.csv')

In [197]:
list(df.columns.values)

['کارکرد',
 'مدل (سال تولید)',
 'رنگ',
 'وضعیت موتور',
 'وضعیت شاسی\u200cها',
 'وضعیت بدنه',
 'مهلت بیمهٔ شخص ثالث',
 'قیمت پایه',
 'شاسی جلو',
 'شاسی عقب',
 'نمایشگاه',
 'مایل به معاوضه']

In [267]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.metrics import precision_score, recall_score
from sklearn.ensemble import GradientBoostingRegressor

In [252]:
df_test=df

In [365]:
df_test['رنگ'].value_counts()

رنگ
10    923
5     208
20    185
17     93
21     64
4      37
11     26
19     17
1      16
14     16
24     16
0      14
6      10
23      4
3       3
9       2
16      1
12      1
2       1
22      1
18      1
15      1
13      1
8       1
7       1
Name: count, dtype: int64

In [357]:
df_test['رنگ']=pd.Categorical(df_test['رنگ']).codes.astype(int)
# df_test['شهر']=pd.Categorical(df_test['شهر']).codes.astype(int)
df_test['وضعیت موتور']=pd.Categorical(df_test['وضعیت موتور']).codes.astype(int)
df_test['وضعیت شاسی‌ها']=pd.Categorical(df_test['وضعیت شاسی‌ها']).codes.astype(int)
df_test['وضعیت بدنه']=pd.Categorical(df_test['وضعیت بدنه']).codes.astype(int)
df_test['شاسی جلو']=pd.Categorical(df_test['شاسی جلو']).codes.astype(int)
df_test['شاسی عقب']=pd.Categorical(df_test['شاسی عقب']).codes.astype(int)
df_test['نمایشگاه']=pd.Categorical(df_test['نمایشگاه']).codes.astype(int)
df_test['مایل به معاوضه']=pd.Categorical(df_test['مایل به معاوضه']).codes.astype(int)

In [291]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [300]:
features = ['کارکرد',
            'مدل (سال تولید)',
            'رنگ',
            'وضعیت موتور',
            'وضعیت شاسی\u200cها',
            'وضعیت بدنه',
            'مهلت بیمهٔ شخص ثالث',
            'شاسی جلو',
            'شاسی عقب',
            'نمایشگاه',
            'مایل به معاوضه']
target = 'قیمت پایه'

# Perform label encoding for categorical variables
label_encoder = LabelEncoder()
for feature in features:
    if df_test[feature].dtype == 'object':
        df_test[feature] = label_encoder.fit_transform(df_test[feature])

In [342]:
df_test

,Unnamed: 0,کارکرد,مدل (سال تولید),رنگ,وضعیت موتور,وضعیت شاسی‌ها,وضعیت بدنه,مهلت بیمهٔ شخص ثالث,قیمت پایه,شاسی جلو,شاسی عقب,نمایشگاه,مایل به معاوضه
0,0,300000,1383,20,1,1,4,9,186000000,1,1,0,0
1,1,46000,1400,10,1,1,8,1,385000000,2,1,0,0
2,2,18600,1399,10,1,1,7,11,432000000,1,1,0,0
3,3,251000,1388,10,1,1,2,9,268000000,1,1,0,0
4,4,200000,1390,10,1,1,6,10,290000000,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1638,1901,300000,1387,5,1,1,4,7,245000000,1,1,0,1
1639,1902,40000,1400,10,1,1,2,6,425000000,1,1,0,0
1640,1903,0,1401,10,1,1,7,12,490000000,1,1,1,0
1641,1904,120000,1391,10,1,1,4,8,280000000,1,1,0,0
1642,1905,97000,1396,10,1,1,6,0,330000000,1,1,0,0

In [343]:
X = df_test[features]
y = df_test[target]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)
pipeline = Pipeline([
    ('classifier', SVC())
])

# Define the parameter space for grid search
# Define the parameter grid for GridSearchCV
param_grid = {
    'kernel': ['linear', 'rbf'],
    'C': [0.1, 1, 10],
    'gamma': [0.1, 1, 10]
}

In [303]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.svm import SVR

In [368]:
# model = SVR()

# Perform grid search to find the best hyperparameters
grid_search = GradientBoostingRegressor()
grid_search.fit(X_train, y_train)
# Get the best model with the optimal hyperparameters
# best_model = grid_search.best_estimator_

# Make predictions on the testing set
y_pred = grid_search.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

# Print the evaluation metrics
print('Mean Squared Error:', mse)
print('Mean Absolute Error:', mae)
print('R-squared:', r2)

Mean Squared Error: 1.9655483566521564e+16
Mean Absolute Error: 50476794.07221503
R-squared: 0.03580051673085016

In [369]:
df_test

,کارکرد,مدل (سال تولید),رنگ,وضعیت موتور,وضعیت شاسی‌ها,وضعیت بدنه,مهلت بیمهٔ شخص ثالث,قیمت پایه,شاسی جلو,شاسی عقب,نمایشگاه,مایل به معاوضه
0,300000,1383,20,1,1,4,9,186000000,1,1,0,0
1,46000,1400,10,1,1,8,1,385000000,2,1,0,0
2,18600,1399,10,1,1,7,11,432000000,1,1,0,0
3,251000,1388,10,1,1,2,9,268000000,1,1,0,0
4,200000,1390,10,1,1,6,10,290000000,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1638,300000,1387,5,1,1,4,7,245000000,1,1,0,1
1639,40000,1400,10,1,1,2,6,425000000,1,1,0,0
1640,0,1401,10,1,1,7,12,490000000,1,1,1,0
1641,120000,1391,10,1,1,4,8,280000000,1,1,0,0
1642,97000,1396,10,1,1,6,0,330000000,1,1,0,0

In [386]:
new_data = pd.DataFrame({'کارکرد': [22000], 'مدل (سال تولید)': [1400], 'رنگ': [1], 'وضعیت موتور': [1], 'وضعیت شاسی‌ها': [1], 'وضعیت بدنه': [
                        6], 'مهلت بیمهٔ شخص ثالث': [6], 'شاسی جلو': [1], 'شاسی عقب': [1], 'نمایشگاه': [0], 'مایل به معاوضه': [0]})

In [387]:
new_data_pred = grid_search.predict(new_data)
print('Predicted price for the new data:', new_data_pred)

Predicted price for the new data: [4.45113756e+08]

In [97]:
# Initialize the grid search and fit it on the data
grid_search = RandomForestRegressor()
grid_search.fit(X_train, y_train)
y_pred = grid_search.predict(X_test)
# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

# Print the evaluation metrics
print('Mean Squared Error:', mse)
print('Mean Absolute Error:', mae)
print('R-squared:', r2)

Mean Squared Error: 2.064546503102299e+16
Mean Absolute Error: 50059134.197020926
R-squared: -0.012763010759470284

In [98]:
precisionGrid = precision_score(y_test, y_pred)
recallGrid = recall_score(y_test, y_pred)

print('Precision:', precisionGrid)
print('Recall:', recallGrid)

ValueError: Classification metrics can't handle a mix of multiclass and continuous targets

In [ ]:
# Create a new SVM model with the best parameters
best_svm_model = SVC(
    C=best_params['classifier__C'], gamma=best_params['classifier__gamma'], kernel=best_params['classifier__kernel'])

# Fit the model on the training data
best_svm_model.fit(X_train, y_train)

# Make predictions on the validation data
y_pred = best_svm_model.predict(X_test)

y_predGrid = best_svm_model.predict(X_test)

precisionGrid = precision_score(y_test, y_predGrid)
recallGrid = recall_score(y_test, y_predGrid)

print('Precision:', precisionGrid)
print('Recall:', recallGrid)